$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5ed;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

collection .collection {
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.52);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.52);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.52);
	padding: 10px;
}

.details .thumbnail {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 320px;
	height: 200px;
	background: #000 none repeat scroll 0% 0%;
	border: medium none;
}

.details .description {
	float: left;
	clear: right;
	padding: 10px;
	max-width: 280px;
	padding-top: 0px;
	margin-top: -4px;
	padding-left: 20px;
}

.details .info {
	clear: both;
}

.info .attribution {
	float: left;
	margin-top: 20px;
}

.info .license {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.license i {
	margin-right: 5px;
	top: 2px;
}

.mirador-link {

}

.info .mirador-link {
	margin-top: 20px;
	float: right;
}

.mirador-link i {
	margin-right: 5px;
	top: 2px;
}

.float-clear {
	clear: both;
}

.favourite {
	cursor: pointer;
	display: inline;
	float: right;
	font-size: 2em;
	position: relative;
	top: -4px;
	color: rgba(35, 82, 124, 0.3);
	text-shadow: 1px 4px 6px #DEF, 0px 0px 0px rgba(0, 0, 0, 0.35), 1px 4px 6px #DEF;
	transition: color 0.3s, text-shadow 0.3s;
}

.favourite:hover {
	color: rgba(35, 82, 124, 0.8);
        text-shadow: 1px 2px 2px #def, 0 0 0 #000, 1px 4px 6px #def;
}

.favourite.selected {
	color: rgba(0, 30, 198, 0.7);
	text-shadow: 1px 1px 1px #DEF, 0px 0px 0px #000, 1px 4px 6px #DEF;
}

.favourite.selected:hover {
	color: rgba(0, 30, 198, 0.7);
	text-shadow: 1px 4px 8px #DEF, 0px 0px 0px #000, 1px 4px 6px #DEF;
}

.collection .title h3 {
	margin-top: 0px;
}

.heading {
	margin-bottom: 20px;
}

/** File Upload Button **/
.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

