<div class="row marketing">
        <div class="heading" ng-cloak ng-if="!attributions">
                <h4>Nothing indexed yet...<small>Start by logging in and submitting manifest links</small></h4>
        </div>
        <div class="heading" ng-if="attributions">
		<select ng-model="query.attribution" class="form-control">
		  <option ng-repeat="attribution in attributions" value="{{attribution.attribution}}">[{{attribution.count}}] - {{attribution.attribution}}</option>
		</select>
		<br/>
		<typeahead attribution="query.attribution" suggester="suggester" terms="query.terms"></typeahead>
		<br/>
		<br/>
        </div>
        <div class="favourites">
		<ul ng-cloak ng-if="pager" class="pagination">
		  <li style="cursor: pointer;" ng-class="{active: $index === page}" ng-repeat="page_num in range(pages) track by $index"><a ng-click="gotoPage($index)">{{$index+1}}</a></li>
		</ul>
                <collection ng-repeat="manifest in collections" manifest="manifest" favourite="manifest.favourite"></collection>
        </div>
</div>
